bin/
obj/

InfiniteDungeon/.vs/
.vs/
vs/
*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs
*.idefs
*.cache

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.idea/
*.sln.iml
.ReSharper
*.DotSettings.user

*.log
*.txt.user
TestResults/
BuildResults/
[Dd]ebug/
[Rr]elease/
x64/
x86/

.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

packages/
*.nupkg
.nuget/
!/.nuget/NuGet.Config
!/.nuget/NuGet.exe
!/.nuget/NuGet.targets

*.dmp
